/* Todo: Create css variables for gradient colors */

html {
  background: -webkit-linear-gradient(100deg, #772953, #e95420);
  background: linear-gradient(-10deg, #772953, #e95420);
  min-height: 100vh;
  font-size: 18px;
}

code {
  margin: 1px 5px;
  padding: 2px 5px 1px 5px;
  font-family: monospace;
  border-radius;
  border: 1px dotted #fff;
}

p {
  margin: 25px 10px 5px 10px;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.outlined {
  width: 500px;
  height: 200px;
  border: 1px solid #fff;
  margin-bottom: 50px;
}

.container > * {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 20px;
  github
}
