/*
- Variable image size
- Image left or right
- Image vertical align
- Nesting
- Responsive
- Clearfix
*/

.media {
  display: flex;
  flex-flow: row nowrap;
}

.figure {
  flex: 1 1 30%;
  align-self: flex-start;
}

.media-body {
  flex: 1 1 70%
}

p {
  margin: 0 10px 20px 10px;
}
